body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

/*.btn:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.hide {
    display: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#image-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

#image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

@media (min-width: 600px) {
    .btn {
        width: auto;
        padding: 10px 40px;
    }
}